@import url('https://fonts.googleapis.com/css2?family=Alata&family=Poppins:wght@300;400;700&display=swap');

$closeSpace: 16px;
$broadSpace: 32px;
$brandColor: #34b7e4;
$brandColorLight: #b1e2f4;
$darkColor: #598090;
$veryDarkColor: #313943;
$accentColor: #92e49c;
$headerHeight: 60px;
$footerHeight: 55px;
$titleFont: 'Alata', sans-serif;
$textFont: 'Poppins', sans-serif;
$pageHeaderHeight: 70px;
$lightGray:#f3f3f3;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $textFont;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.cta {
  border: none;
  padding: 8px;
  font-size: 16px;
}

@mixin pageTitle() {
  font-family: $titleFont;
  font-size: 20px;
}

@mixin input() {
  width: 100%;
  padding: 5px 0;
  margin-top: 3px;
}

@mixin formInput() {
  border: none;
  background-color: transparent;
  color: white;
  border-bottom: 1px solid white;
}

.formLink {
  color: white;
  font-size: 12px;
  text-align: center;
  margin-top: $closeSpace;
}
