$closeSpace: 16px;
$broadSpace: 32px;
$brandColor: #34B7E4;
$darkColor: #598090;
$accentColor: #92E49C;
$headerHeight: 70px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}