@import './variables';

html, body {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  max-height: 720px;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: $headerHeight;
  background-color: $brandColor;
  color: white;
  font-weight: 600;
  box-shadow: 0 3px 4px -1px rgba(99, 99, 99, 0.7); 
  z-index: 1000;
  position: relative;
  padding: 0 $closeSpace;

  .pageTitle {
    font-family: $titleFont;
    font-size: 20px;
  }

  .buttonNav {
    display: block;
    width: 50px;
    font-size: 12px;
    text-align: center;

    &.hidden {
      visibility: hidden;
    }
  }
}

#root {
  height: 100%;
  & > div {
    height: inherit;
  }
}

.contentWrapper {
  height: calc(100% - #{$headerHeight} - #{$footerHeight});
  overflow-y: scroll;
}

.addMeasure {
  display: flex;
  flex-direction: column;
  // background-color: rgb(243, 243, 243);
  height: 100%;
  

  .pageHeader {
    background-color: white;
    height: $pageHeaderHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $broadSpace;
    .pageTitle {
      @include pageTitle();
      font-weight: 400;
    }
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    padding: 0 $broadSpace $broadSpace $broadSpace;
    background-color: white;
    height: 100%;
    .valueInput  {
      border: none;
      padding: 2px;
      font-size: 60px;
      font-weight: 400;
      text-align: center;
      margin-bottom: $broadSpace;
      font-family: $titleFont;
      &::placeholder {
        color: rgb(167, 167, 167);
      }
    }
    label {
      font-weight: 800;
    }
    input[type="date"] {
      @include input();
    }

    .cta {
      background-color: $accentColor;
      color: white;
      margin: auto 0 0 0;
    }

  }
}

.categoriesWrapper {
  padding: $broadSpace;
  background-color: rgb(243, 243, 243);
  min-height: 100%;
  .categoryItem {
    padding: $closeSpace;
    border-radius: 4px;;
    height: 80px;
    margin-top: $closeSpace;
    display: flex;
    align-items: center;
    box-shadow: 1px 2px 4px rgba(156, 156, 156, 0.486);
    background-color: white;
    color: black;

    img {
      width: 20%;
      height: 35px;
      margin-right: $closeSpace;
      filter: invert(1);
    }
    span {
      width: 80%;
      font-size: 20px;      
    }
  }

  .categoryItem:first-child {
    margin-top: 0;
  }
}

footer {
  width: 100%;
  height: $footerHeight;
  display: flex;
  background-color: $veryDarkColor;
  position: absolute;
  bottom: 0;
  left: 0;
  
  nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    a {
      width: calc(100% / 2);
      height: 100%;
      color: white;
      text-align: center;
      font-family: $titleFont;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      span {
        font-size: 10px;
        margin-top: 8px;
        line-height: 8px;
      }

      &.active {
        background-color: $brandColor;
        color: white;
      }
    }
  }
}

.login {
  background-color: $brandColor;
  display: flex;
  flex-direction: color;
  justify-content: center;
  align-items: center;
  .mainContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    
    img {
      height: 50px;
      margin-bottom: $broadSpace;
    }

    label {
      color: white;
      font-size: 14px;
      font-family: $titleFont;
      input[type="text"] {
        @include input();
        border: none;
        background-color: transparent;
        color: white;
        border-bottom: 1px solid white;
        &::placeholder {
          color: white;
        }
      }
    }

    .errorMessage {
      display: block;
      text-align: right;
      font-size: 12px;
      margin-top: 4px;
    }

    .cta {
      margin-top: $broadSpace;
      background-color: $accentColor;
      color: white;
    }
  }
}

.progress {
  background-color: $lightGray;
  .titleList {
    padding: 8px $closeSpace;
    font-weight: 400;
    font-size: 14px;
  }
  .progressItem {
    padding: $closeSpace;
    background-color: white;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(122, 122, 122, 0.199);
    .leftSection {
      display: flex;
      flex-direction: column;
      h4 {
        font-size: $titleFont;
        font-size: 15px;
        font-weight: 500;
      }
    }

    .rightSection {
      display: flex;
      align-items: center;
      .diff {
        font-weight: 700;
      }
      .arrowIcon {
        margin-left: $closeSpace;
        height: 10px;
      }
    }
    
  }
}
